.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 30px;
  height: 70px;
  .header-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  form {
    display: inline-flex;
  }
  input[type='search'] {
    top: 190px;
    left: 83px;
    width: 479px;
    height: 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 10px;
    opacity: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
  }
  input[type='submit'] {
    top: 190px;
    left: 526px;
    width: 36px;
    height: 34px;
    background: #349AF8 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 0px 10px 10px 0px;
    opacity: 1;
    cursor: pointer;
  }
  .search-wrapper {
    cursor: pointer;
    display: flex;
    position: relative;
    img {
      width: 18px;
      height: 18px;
      opacity: 1;
      top: 7px;
      position: absolute;
      left: 8px;
    }
  }
}