.App {
  
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 30px;
  height: 70px;
  .header-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
  }
}
